<h1>{{title}}</h1>

<form #myForm="ngForm" (ngSubmit)="onsubmit(myForm)" *ngIf="!isformSubmitted">
 <input type="text" id="name" required #name1="ngModel" pattern="[a-z]+$" name="name" placeholder="Enter your Name" ngModel><br>
 <span *ngIf="name1.touched && name1.invalid" style="color: red">*field Required</span>
<!--  <div *ngIf="name1.invalid && (name1.dirty || name1.touched)" class="alert"></div>-->
  <br>
  <br>
  <input type="text" id="email"  required #email="ngModel" email name="email" placeholder="Enter your Email" ngModel ><br>
  <span   *ngIf="email.touched &&email.invalid"  style="color: red">*Required Email only</span>
  <br>
  <br>
  <input type="number" id="phoneno" name="phoneno" placeholder="Enter your PhoneNo" ngModel>
  <br>
  <br>
  <input type="text" id="company" name="company" placeholder="Enter your Company" ngModel>
  <br>
  <br>
  <button type="submit" >Submit</button>

</form>

<div *ngIf="formDatasend && isformSubmitted">
  <app-child [getdata]="userValue"></app-child>
<!--  <h3>Submitted Data:</h3>-->
<!--  <p>Name: {{ myForm.value.name }}</p>-->
<!--  <p>Email: {{ myForm.value.email }}</p>-->
<!--  <p>Phone No: {{ myForm.value.phoneno }}</p>-->
<!--  <p>Company: {{ myForm.value.company }}</p>-->

</div>

<!--<app-child [getdata]="myForm.value"></app-child>-->


